*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Flame Sans";
}
.logo{
    position: absolute;
    left: 15%;
    top: -10px;
    width: 108px;
    height: 108px;
}

.logo2{
    width: 108px;
    height: 108px;
}

nav{
    background: rgb(106, 60, 25);
    height: 80px;
    width: 100%;
}
   
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background-color: rgb(151, 85, 35);
    transition: .3s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
}
nav ul li a{
    font-size: 16px;
    }
@media (max-width: 858px){
    .checkbtn{
    display: block;
}

}

.texto{

    text-align: center;
    font-family: "Flame Sans";

}

#menu{
    position: absolute;
    right: 30%;
    }

    footer{
        background-color: rgb(106, 60, 25);
        color: white;
    }